.infoBox {
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.infoBox:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.infoBox:not(:last-child) {
  margin-right: 10px;

}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
}

.infoBox--red {
  border-color: #CC1034;
}

.infoBox--red:last-child {
  border-color: #fb4443;
}

.infoBox__cases--green {
  color: #7dd71d !important;

}

.icon {
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}

.icon-1 {
  color: #CC1034;
}

.icon-2 {
  color: #7dd71d
}

.icon-3 {
  color: #fb4443
}